
*{
    background-color: darkgrey;
}
.home_pic{
    width: auto;
    height: auto;
    border-radius: 8px;
}

.cat-row{
    display: flex;

}

.cat-column{
    flex: 33.3%;
    padding: 5px;
}

.cat-column img{
    border-radius: 8px;
}
.image-row{
    display: flex;
}

.column{
    flex: 20%;
    padding: 5px;
}

#menu{
    display: inline-flexbox;
    float: left;
}
#menu li img{
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

#menu li{
    list-style-type: none;
}